apiVersion: 1.0
image:
  imageType: raw
  baseImage: {{ image_telco_name | replace('.xz', '') }}
  outputImageName: {{ eib_output_telco_image_name }}
operatingSystem:
  kernelArgs:
  - ignition.platform.id=openstack