ethernets:
  {{ public_network['nic'] }}:
    dhcp4: false
{% if 'vlan_id' not in public_network %}
    addresses: ["{{ public_network_ip_cidr | default(public_network_ip) }}"]
 {% if 'nameservers' in public_network %}
    nameservers: {{ public_network['nameservers'] | to_yaml(default_flow_style='Yes') }}
 {% endif %}
 {% if 'routes' in public_network %}
    routes: {{ public_network['routes'] | to_yaml(default_flow_style='Yes') }}
 {% endif %}
{% endif %}
{% if 'vlan_id' in public_network %}
vlans:
 {% if 'vlan_id' in public_network %}
  {{ public_network['nic'] }}.{{ public_network['vlan_id'] }}:
    id: {{ public_network['vlan_id'] }}
    link: {{ public_network['nic'] }}
    addresses: ["{{ public_network_ip_cidr | default(public_network_ip) }}"]
  {% if 'nameservers' in public_network %}
    nameservers: {{ public_network['nameservers'] | to_yaml }}
  {% endif %}
  {% if 'routes' in public_network %}
    routes: {{ public_network['routes'] | to_yaml(default_flow_style='Yes') }}
  {% endif %}
 {% endif %}
{% endif %}
version: 2
