global:
  pdnsIP: {{ pdns_ip }}

zone:
  name: {% if dns_provider == "cloudflare" %}bogus.baremetal{% else %}{{ dns_domain }}{% endif %}

service:
  ip: {{ pdns_cluster_ip }}

powerdns:
  api:
    key: {{ pdns_api_key }}

  webserver:
    password: {{ pdns_web_password }}
    port: {{ pdns_api_port }}
