
<network>
  <name>{{ item.name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ item.bridge }}' stp='on' delay='0'/>

  {% if item.dns is defined -%}
  <dns>
    {% for host in item.dns.hosts -%}
    <host ip='{{ host.ip }}'>
      {% for name in host.hostnames -%}
      <hostname>{{ name }}</hostname>
      {% endfor -%}
    </host>
    {% endfor -%}
  </dns>
  {% endif %}

{# IPv4 Configuration #}
{% if item.address_v4 is defined and item.address_v4 != '' %}
  <ip address='{{ item.address_v4 }}' netmask='{{ item.netmask_v4 }}'>
  {% if item.dhcp_range_v4 is defined and item.dhcp_range_v4|length != 0 and libvirt_network_dhcp|bool != false %}
  <dhcp>
    <range start='{{ item.dhcp_range_v4[0] }}' end='{{ item.dhcp_range_v4[1] }}'/>
    {% set ns = namespace(index=0) -%}
    {% for flavor in libvirt_flavors if flavor != "management" -%}
      {% set numflavor = lookup('vars', 'num_' + flavor + '_hosts')|default(0)|int -%}
      {% for num in range(0, numflavor) -%}
        {% set host_name = libvirt_host_prefix + flavor + "_" + num|string -%}
        {% set hostname_format = lookup('vars', flavor + '_hostname_format', default=flavor + '-%d') -%}
        {% set hostname = hostname_format % num %}
      <host mac='{{ node_mac_map.get(host_name).get(item.name)}}' name='{{hostname}}' ip='{{item.dhcp_range_v4[0]|ansible.utils.ipmath(ns.index|int)}}' />
        {% set ns.index = ns.index + 1 -%}
      {% endfor %}
    {% endfor %}
    </dhcp>
  {% endif %}
  </ip>
{% endif %}
{# End IPv4 Configuration #}

{# IPv6 Configuration #}
{% if item.address_v6 is defined and item.address_v6 != '' %}
  <ip family="ipv6" address='{{ item.address_v6 }}' prefix='{{ item.prefix_v6 }}'>
  {% if item.dhcp_range_v6 is defined and item.dhcp_range_v6|length != 0 and libvirt_network_dhcp|bool != false %}
    <dhcp>
      <range start='{{ item.dhcp_range_v6[0] }}' end='{{ item.dhcp_range_v6[1] }}'/>
    {% set ns = namespace(index=0) %}
    {% for flavor in  libvirt_flavors if flavor != "management" -%}
      {% set numflavor = lookup('vars', 'num_' + flavor + '_hosts')|default(0)|int %}
      {% for num in range(0, numflavor) %}
        {% set host_name = libvirt_host_prefix + flavor + "_" + num|string -%}
        {% set hostname_format = lookup('vars', flavor + '_hostname_format', default=flavor + '-%d') %}
        {% set hostname = hostname_format % num %}
        <host id='00:03:00:01:{{ node_mac_map.get(host_name).get(item.name)}}' name='{{hostname}}' ip='{{item.dhcp_range_v6[0]|ansible.utils.ipmath(ns.index|int)}}' />
        {% set ns.index = ns.index + 1 %}
      {% endfor %}
    {% endfor %}
    </dhcp>
  {% endif %}
  </ip>
{% endif %}
{# End IPv6 Configuration #}

</network>

