global:
  enable_dnsmasq: true
  enable_pxe_boot: false
  enable_ironic: false
  dnsDomain: {{ dns_domain }}
  dnsmasqDefaultRouter: {{ dhcp_router | default('192.168.75.254') }}
  dnsmasqDNSServer: {{ metal3_network_infra_public_ip }}
  dhcpRange: {{ dhcp_range | default('192.168.75.10,192.168.75.99') }}
  provisioningInterface: {{ metal3_provisioning_nic }}
  provisioningIP: {{ metal3_core_provisioning_ip }}
  ingress:
    annotations:
      external-dns.alpha.kubernetes.io/target: {{ metal3_core_provisioning_ip }}

metal3-ironic:
  baremetaloperator:
    # If no dhpHosts set, all mac addresses will be acknowledged
    dhcpHosts: {{ dhcp_hosts | default([]) | join(',') }}
  persistence:
    ironic:
      storageClass: "{{ storage['class_name'] | default('dynamic') }}"
