---
eib_mgmt_output_image_name: "{{ os_image_name | splitext | join('.mgmt') }}.qcow2"

image_os_name: "{{ eib_mgmt_output_image_name }}"

# Directory for libvirt images
libvirt_images_dir: /var/lib/libvirt/images

# VM disk image file name for the VM instance
source_image_file: "{{ libvirt_images_dir }}/{{ eib_mgmt_output_image_name }}"
disk_image_file: "{{ libvirt_images_dir }}/{{ image_os_name }}-{{ vm_instance_name }}.qcow2"

# size of the disk image
disk_image_size: 40G
