global:
  ironicIP: {{ management_cluster_public_ip }}
  # Mounts tls-ca-additional Secret
  additionalTrustedCAs: true

metal3-mariadb:
  persistence:
    storageClass: "local-path"

metal3-ironic:
  persistence:
    ironic:
      storageClass: "local-path"
  service:
    type: NodePort
