routes:
  config:
{% if libvirt_network_ipv4|bool %}
  - destination: 0.0.0.0/0
    metric: 100
    next-hop-address: "{{ external_network_bridge_ip_v4}}"
    next-hop-interface: enp1s0
    table-id: 254
{% endif %}
{% if libvirt_network_ipv6|bool %}
  - destination: "::/0"
    metric: 100
    next-hop-address: "{{ external_network_bridge_ip_v6 }}"
    next-hop-interface: enp1s0
    table-id: 254
{% endif %}
dns-resolver:
  config:
    server:
    - "{{ external_network_bridge_ip_v4 if libvirt_network_ipv4|bool else external_network_bridge_ip_v6 }}"
interfaces:
- name: enp1s0
  type: ethernet
  state: up
  mac-address: "{{ node_mac_map.get('management_0').get('external') }}"
  ipv4:
    address:
    - ip: "{{ management_cluster_public_ip }}"
      prefix-length: "{{ external_network_cidr_v4|ansible.utils.ipaddr('prefix') }}"
    dhcp: false
    enabled: true
{% if libvirt_network_ipv6|bool == false %}
  ipv6:
    enabled: false
{% else %}
  ipv6:
    address:
    - ip: "{{ management_cluster_public_ip_v6 }}"
      prefix-length: "{{ external_network_cidr_v6|ansible.utils.ipaddr('prefix') }}"
    dhcp: false
    enabled: true
{% endif %}
