apiVersion: v1
kind: Namespace
metadata:
  name: metal3-system
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tls-ca-bundle
  namespace: metal3-system
data:
  ca-bundle.pem: |
    {{ additional_ca_cert | indent }}

