image:
  registry: registry.opensuse.org
  repository: isv/metal3/bci/external-dns/containerfile/suse/external-dns
  tag: "0.13.2"

# external-dns will monitor these sources of IP address to name
# mappings and automatically add/remove DNS entries as needed.
sources:
  - service
  - ingress

# DNS domain(s) that external DNS will manage entries for
domainFilters:
  # *Must match global.dnsDomain setting specified*
  - {{ dns_domain }}

# which DNS provider backend to use
provider: {{ external_dns_provider }}

# provider-specific configuration
{{ external_dns_provider_config | to_nice_yaml }}

# 'sync' allows external-dns to add/remove entries; the default
# 'upsert-only' only allows entries to be added with PowerDNS
# backend.
policy: sync
