global:
  ironicIP: {{ management_cluster_ironic_ip | default('192.168.125.10') }}

metal3-mariadb:
  persistence:
    storageClass: "local-path"

metal3-ironic:
  persistence:
    ironic:
      storageClass: "local-path"
