apiVersion: v1
kind: Namespace
metadata:
  name: {{ metal3_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: tls-ca-additional
  namespace: {{ metal3_namespace }}
type: Opaque
data:
  ca-additional.crt: {{ additional_ca_cert | b64encode }}

