SUSHY_EMULATOR_LISTEN_IP = u'0.0.0.0'
SUSHY_EMULATOR_LISTEN_PORT = '{{ sushy_tools_port }}'
SUSHY_EMULATOR_SSL_CERT = u'/etc/sushy/sushy.crt'
SUSHY_EMULATOR_SSL_KEY = u'/etc/sushy/sushy.key'
SUSHY_EMULATOR_IGNORE_BOOT_DEVICE = {{ sushy_ignore_boot_device }}
SUSHY_EMULATOR_VMEDIA_VERIFY_SSL = {{ sushy_vmedia_verify_ssl }}
SUSHY_EMULATOR_AUTH_FILE = '/etc/sushy/htpasswd'
